<app-header icon="book" title="Gerenciar Curso"></app-header>

<div [formGroup]="formGroup">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <app-text-descricao-curso fxFlex></app-text-descricao-curso>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <app-text-ementa-curso fxFlex></app-text-ementa-curso>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
        <app-button-deletar-curso></app-button-deletar-curso>
        <app-button-cancelar-curso (click)="close()"></app-button-cancelar-curso>
        <app-button-salvar-curso></app-button-salvar-curso>
    </div>
</div>
